aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argcomplete==3.6.2
attrs
bleach==6.2.0
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cycler
datasets
dill
distro
et-xmlfile==1.1.0
exceptiongroup
filelock
fonttools
freetype-py
frozenlist
fsspec
future==1.0.0
gitdb
GitPython==3.1.45
gmpy2
greenlet
grpcio
grpcio-tools
h11
h2
h5py==3.14.0
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
importlib_metadata
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kaggle==1.7.4.5
kiwisolver
MarkupSafe
matplotlib==3.9.2
mpmath
multidict
multiprocess
munkres==1.1.4
narwhals
networkx
numpy
openai
openpyxl
packaging
pandas
Pillow
portalocker
propcache
protobuf==6.31.1
pyarrow==21.0.0
pycairo==1.25.0
pycparser
pydantic
pydantic_core
pydeck
pyparsing
PySocks
python-dateutil
python-slugify==8.0.4
pytz
PyYAML
qdrant-client
rdkit
referencing
regex
reportlab
requests
retriever==3.1.0
rlPyCairo
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
text-unidecode==1.3
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
webencodings==0.5.1
xlrd==2.0.2
xxhash
yarl
zipp
zstandard==0.23.0
